/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}
body{
  text-align: center;
}
#hidden{
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
