/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
div{
  padding-top: 15px
}
img{
  display: block;
  margin: 0 auto;
  height: 300px;
}
.hidden{
  display: none;
}
h5{
  text-align: wrap;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
